.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.container > form {
    width: 50%;
    min-width: 320px;
}

table {
    width: 100%;
    border-collapse: collapse;

    th {
        padding: 12px 16px;
        font-weight: 600;
    }

    th:first-child,
    td:first-child {
        text-align: left;
        padding-left: 16px;
    }
}
