mat-card {
    margin: 2%;
    text-align: left;
    width: 90%;
    margin-left: 32px;
    border: 1px solid #ccc;
}

.mat-mdc-raised-button {
    width: auto;
}

.table-header {
    background-color: blue;
    color: white;
}
